<!DOCTYPE html>
<html>
<head>
    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const reportID = urlParams.get('id');
        if (reportID) {
            window.location.replace("https://www.wargods.ro/wcd/report.php?id=" + reportID);
        }
    </script>
</head>
<body style="background:#000;color:#fff;text-align:center;padding-top:50px;font-family:sans-serif;">
    <p>Redirecting to WarGods Report...</p>
</body>
</html>
